
<div class="title">
    <h1><%= @current_user.name %></h1>
</div>
<div class="forms">
    <br>
    <% if @current_user.image.present? %>
        <%= cl_image_tag(@current_user.image, :style => 'object-fit: cover; border-radius: 50%; width: 200px; height: 200px;') %>
    <% else %> 
        <%= image_tag('https://cdn-icons-png.flaticon.com/512/1053/1053244.png?w=360', :style => 'max-width: 200px; border-radius: 50%;') %>
    <% end%>
    <%= form_for @current_user, :html => {:multipart => true} do |f| %>
        <%= f.cl_image_upload :image %>
        <%= f.submit "Change Pic" ,:class => 'submitButton'%>
    <% end%> <br>
    <%= link_to 'All music', songs_path, :class => 'submitButton', :style => 'text-decoration: none;' %>
</div>