<div class="title">
    <h1>Welcome to Musik!</h1>
</div>

<div class="forms">
    <div class="text-box">
        <h2>Create an Account</h2>
    </div>
    <% if @user.errors.any? %>
        <ul>
            <% @user.errors.full_messages.each do |msg|%>
                <li style="list-style: none;"><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <%= form_for @user, :html => {:multipart => true} do |f| %>
        <%= f.text_field :name, :placeholder => 'Artist Name' %>
        <%= f.email_field :email, :placeholder => 'Email' %>
        <%= f.password_field :password, :placeholder => 'Password'%>
        <%= f.password_field :password_confirmation, :placeholder => 'Confirm Password' %>
        <%= f.label 'Profile Picture' %>
        <%= f.cl_image_upload :image %>
        <%= f.submit "Sign up!", :class => 'submitButton' %>
    <% end%>
</div>