<!DOCTYPE html>
<html>
  <head>
    <title>Musik</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <div class="centre">
    <% if @current_user.present? %>
      <%= image_tag("/assets/logo.png") %>
          <% else %>
      <%= image_tag("/assets/logo.png") %>
    <% end %>
    </div>
    <div class="left">
    <% if @current_user.present? %>
      <%# <%= link_to "all users", users_path if @current_user.admin? %>
      <%= link_to 'home', feeds_path, :class => 'material-icons' %>
      <%= link_to "person", users_path, :class => 'material-icons'%>
      <%= link_to "logout", login_path, :method => 'delete', :class => 'material-icons' %>
      
    <% else %>
      <%= link_to 'Sign up', new_user_path %>
      <%= link_to 'Sign in', login_path %>
    <% end %>
    </div>
   
    
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
